body
{
    margin: 0;
    padding: 0;
}
.sec1
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://xatimg.com/image/q4rdSrEWpywL.png1");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.db2
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ghost1
{
    position: absolute;
    bottom: -100px;
    left: -100px;
    animation: move-ghost1 20s linear infinite;
}
@keyframes move-ghost1 
{ 
    0%
    {
        transform: translate(0,0);
    }
    30%
    {
        transform: translate(2100px, -1000px);
    }
    60%
    {
        transform: translate(2100px, -1000px);
    }
    100%
    {
        transform: translate(2100px, -1000px);
    }
}
.ghost2
{
    position: absolute;
    bottom: -100px;
    right: -10px;
    animation: move-ghost2 10s linear infinite;
}
@keyframes move-ghost2 
{ 
    2%
    {
        transform: translate(0,0);
    }
    100%
    {
        transform: translate(-2000px, -1000px);
    }
}
